button{
    background-color: rgb(248, 208, 155);
}

body{
    background-color: rgb(245, 161, 161);
}

#encabezado-principal {
    background-color: #b9b7b6;
    
    color: rgb(255, 255, 255);
    
    padding: 20px; /* Espacio interno */
    
    }